<h2>Catalogo Prodotti</h2>
<a routerLink = '/carrello'>Carrello</a>

@if (caricamento){
    <p>caricamento prodotti in corso...</p>
} @else{
    @for (p of prodotti; track p.id) {
       <p> {{p.nome}} -- Prezzo: {{p.prezzo}} </p>
       <p> -- Prezzo Ivato: {{p.prezzo_ivato}}</p>
        <button (click) = "aggiungiAlCarrello(p)">Aggiungi al carrello</button>
        <a [routerLink] = "['/dettaglio', p.id]">dettagli</a>
    } @empty {
        <p>nessun prodotto presente nel catalogo</p>
    }


}